<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{title}}</title>

    <!-- Bootstrap -->
    <link href = "/bootstrap/css/bootstrap.min.css" rel = "stylesheet">
    <link href = "/bootstrap/css/custom.css" rel = "stylesheet"> <!-- Customized CSS for Bootstrap -->
    {{#if showList}}
      <script src='/ajax.js'> </script>
    {{/if}}
    <!--PASSPORT -->
  </head>
  <body class="text-center">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : process.env.clientID,
      xfbml      : true,
      version    : 'v2.6'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    {{{body}}}
  </body>
</html>
