<h1> Add an Exoplanet to {{name}} </h1>
<p> NOTE: A red asterisk indicates a required field. </p>
<div class="form group">
<form method="POST" action="">
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'> Host Name: </label>
    <input class="form-control" type="text" name="HostName" placeholder="11 Com">
  </div>
  <div class="form-group required col-xs-4 col-md-offset-4">
    <label class='control-label'> Classification: </label>
    <input class="form-control" type="text" name="PlanetLetter" placeholder="B">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>Discovery Method: </label>
    <input class="form-control" type="text" name="Discovery" placeholder="Radial Velocity">
  </div>
  <div class="form-group required col-xs-4 col-md-offset-4">
    <label class='control-label'>Number of Planets in System:</label>
    <input class="form-control" type="Number" step="any" name="NumPlanetsInSystem" placeholder="1">
  </div>
  <div class="form-group required col-xs-4 col-md-offset-4">
    <label class='control-label'>Orbital Period: </label>
    <input class="form-control" type="Number" step="any" name="OrbitalPeriod" placeholder="326.03">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>Orbit (Semi Major Axis):</label>
    <input class="form-control" type="Number" step="any"  name="OrbitSemiMajorAxis" placeholder="1.29">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>Eccentricity:</label>
    <input class="form-control" type="Number" step="any" name="Eccentricity" placeholder="0.231">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>Inclination:</label>
     <input class="form-control" type="Number" step="any" name="Inclination" placeholder="46.2">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>Mass (wrt. Jupiter): </label>
    <input class="form-control" type="Number" step="any" name="MassWRTJupiter" placeholder="46.2">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>Density:</label>
    <input class="form-control" type="Number" step="any" name="Density" placeholder="6.3">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>TVV Flag: </label>
    <input class="form-control" type="Number" step="any" name="TVVFlag" placeholder="0">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>Kepler Field Flag: </label>
    <input class="form-control" type="Number" step="any" name="KeplerFieldFlag" placeholder="0">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>K2 Mission Flag: </label>
    <input class="form-control" type="Number" step="any" name="K2MissionFlag" placeholder="0">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>RA (String):</label>
    <input class="form-control" type="text" name="RAStr" placeholder="12h20m43.03s">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>RA:</label>
    <input class="form-control" type="Number" step="any" name="RA" placeholder="185.179276">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>Dec (String):</label>
    <input class="form-control" type="text" name="DecStr" placeholder="+17d47m34.3s">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>Dec:</label>
    <input class="form-control" type="Number" step="any" name="Dec" placeholder="17.792868">
  </div>
  <div class="form-group required col-xs-4 col-md-offset-4">
    <label class='control-label'>Distance: </label>
    <input class="form-control" type="Number" step="any" name="Distance" placeholder="110.62">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>Optical Magnitude:</label>
    <input class="form-control" type="Number" step="any" name="OpticalMagnitude" placeholder="4.74">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <label class='control-label'>Optical Magnitude Band: </label>
    <input class="form-control" type="text" name="OpticalMagnitudeBand" placeholder="V (Johnson)">
  </div>
  <div class="form-group required col-xs-4 col-md-offset-4">
    <label class='control-label'>Temperature (K): </label>
    <input class="form-control" type="Number" step="any" name="TemperatureK" placeholder="4742">
  </div>
  <div class="form-group required col-xs-4 col-md-offset-4">
    <label class='control-label'>Stellar Mass:</label>
    <input class="form-control" type="Number" step="any" name="StellarMass" placeholder="2.7">
  </div>
  <div class="form-group required col-xs-4 col-md-offset-4">
    <label class='control-label'>Stellar Radius: </label>
    <input class="form-control" type="Number" step="any" name="StellarRadius" placeholder="19">
  </div>
  <div class="form-group col-xs-4 col-md-offset-4">
    <button class="btn btn-primary" type="submit" value="Log In">Add Planet</button<br> <br>
    </div>
</form>
</div>
<!--
<div class="form-group col-xs-4 col-md-offset-4">
  <p><a href="/stargazers/{{username}}" class="btn btn-secondary" role="button"> Back to Profile </a></p>
</div> -->
