
<h1> Stargazers Help </h1>

<h3> Welcome to Stargazers! We know exoplanet discovery can be a bit confusing.</h3>
<h5> Here's an explanation of all the different properties an exoplanet can have, and what they mean. </h5><br>
<div id='explanation'>
  <div>
    <p id='name'> Host Name: </p>
    <p>Stellar name most commonly used in literature </p>
  </div>
  <div>
  <p id='name'> Planet Letter</p>
  <p>Letter assigned to a planet's host star as way to organize and quantify exoplanets. Host stars to exoplanets can be classified from M, K, G, F, A, B, O, increasing in size, respectively. </p>
</div>
  <div>
  <p id='name'> Discovery Method </p>
  <p>How the planet was discovered. Some common methods are Radial Velocity, Imaging, Eclipse Timing Variations, and Transit </p>
</div>
<div>
  <p id='name'> Number of Planets in System</p>
  <p>How many planets are in this exoplanet's planetary system </p>
</div>
<div>
  <p id='name'> Orbital Period</p>
  <p>How many Earth days it take the exoplanet to orbit its host star/planetary system </p>
</div>
<div>
  <p id='name'> Orbit (Semi-Major Axis) in AU (Astronomical Units)</p>
  <p>The longest diameter of an elliptic orbit, or the project separation in the plane of the sky </p>
</div>
<div>
  <p id='name'> Eccentricity</p>
  <p>The amount by which the planet's orbit deviates from a perfect circle </p>
</div>
<div>
  <p id='name'> Inclination (in degrees)</p>
  <p>Angular distance of the orbital plane from line of sight </p>
</div>
<div>
  <p id='name'> Mass wrt. Jupiter</p>
  <p>The mass of the exoplanet measured in Jupiter-masses </p>
</div>
<div>
  <p id='name'> Radius wrt. Jupiter</p>
  <p>Length of a line segment from the center of the planet to its surface, measured in Jupiter radii </p>
</div>
<div>
  <p id='name'> TVV Flag</p>
  <p>Indicated if the planet orbit exhibits transit timing variations from another planet </p>
</div>
<div>
  <p id='name'> Kepler Field Flag</p>
  <p>Indicates if the planetary system signature is present in data taken with the Kepler mission (1 = Yes, 0 = No) </p>
</div>
<div>
  <p id='name'> K2 Mission Flag</p>
  <p>Indicates if the planetary system signature is present in data taken with the K2 mission (1 = Yes, 0 = No) </p>
</div>
<div>
  <p id='name'> Number of Notes</p>
  <p>Self-explanatory </p>
</div>
<div>
  <p id='name'> RA</p>
  <p>Right ascension of the planetary system in decimal degrees </p>
</div>
<div>
  <p id='name'> Dec</p>
  <p>Declination of the planetary system in decimal degrees </p>
</div>
<div>
  <p id='name'> Distance (parsecs)</p>
  <p>Distance of the planetary system </p>
</div>
<div>
  <p id='name'> Optical Magnitude </p>
  <p>Brightness of the host star </p>
</div>
<div>
  <p id='name'> Optical Magnitude Band</p>
  <p> Band corresponding to the Optical Magnitude </p>
</div>
<div>
  <p id='name'> Temperature (Kelvin): </p>
  <p>Temperature of the star modeled by a black body emitting the same amount of electromagnetic radiation </p>
</div>
<div>
  <p id='name'> Stellar Mass: </p>
  <p>  Its mass wrt. our own Sun </p>
</div>
<div>
  <p id='name'> Stellar Radius:</p>
  <p> Its radius wrt. our own Sun </p>
</div>
</div> <br><br>

<p><a href="/stargazers/{{username}}" class="btn btn-secondary" role="button"> Back to Profile </a></p> <br><br>
